/* src/pages/RoomDetail.css */

  .room-detail {
    gap: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    /* border: #666 solid 1px; */
  }
  
  .room-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 讓圖片自動排列 */
    gap: 1rem; /* 設置圖片間距 */
    max-width: 100%; /* 容器最大寬度為 100% */
    overflow: hidden; /* 超出的部分會被隱藏 */
  }

  
  .room-images img {
    width: 100%; /* 圖片寬度為 100% */
    height: 300px; /* 固定高度 */
    object-fit: cover; /* 確保圖片填滿區域並保持比例 */
    border-radius: 8px; /* 圓角效果 */
  }

  .room-info-container {
    display: flex; /* 啟用 Flexbox */
    justify-content: space-between; /* 讓兩個元素之間有空隙，可以調整為 center, space-around 等 */
    align-items: center; /* 垂直居中對齊元素 */
  }
  
  .room-info {
    padding: 10px;
    flex: 2;
  }
  
  .room-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .room-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
    padding: 5px;
  }
  
  .room-price {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #ff5a5f;
  }
  
  .host-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .host-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .host-details h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .host-rating {
    color: #ff5a5f;
    font-size: 1rem;
  }
  
  .room-amenities ul {

    list-style-type: none;
    padding: 0;
  }
  
  .room-amenities li {
    color: gray;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .booking-form h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .booking-form label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .booking-form input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  
  .booking-form button {
    padding: 0.75rem;
    background-color: #ff5a5f;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.125rem;
    cursor: pointer;
  }
  
  .booking-form button:hover {
    background-color: #e14f50;
  }
  